# Get your authentication details

* Go to [superquery.io](https://superquery.io) and log in/sign up
* In the left side-bar, click on the "Integrations" icon
* Scroll down until you see "Python" and click "Connect"
* Note the username and password
* Insert your username and password into the 'xxxxxx' fields below

# Set the environment variables

In [ ]:
%env SUPERQUERY_USERNAME=xxxxxx
%env SUPERQUERY_PASSWORD=xxxxxx

# Import superQuery

In [1]:
import superQuery

# Set your Google Cloud billing project
Option 1: get a superQuery client specify the project calling `client.project(project_name)`

In [4]:
client = superQuery.Client()
client.project("yourBillingProjectId")

Option 2: specify project name as a parameter (--project) when calling a cell magic (see below)

# Get your data using cell magics

In [3]:
%%superquery --project yourBillingProjectId
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

        name
0       Mary
1      Helen
2    Dorothy
3       Ruth
4   Margaret
5    Mildred
6       Anna
7   Florence
8  Elizabeth
9      Marie

# Save query result as a variable
Run the same query, but this time save the results to a new variable `res`, which is given as an argument to the %%superquery. The results can then be used for further analysis and visualization.

In [4]:
%%superquery res --project yourBillingProjectId
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

In [5]:
res.head(5)

       name
0      Mary
1     Helen
2   Dorothy
3      Ruth
4  Margaret

# Perform a dry run of a query and show stats

In [6]:
%%superquery --project yourBillingProjectId --dry_run True --stats True
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

---------STATISTICS---------
('Data rows:', u'10')
('Workflow:', 'Query')
Cost: $ 0.00
('Savings %:', u'100.00')
('Was cache used?:', True)
('Cache type:', u'Tier1')
('DryRun flag: ', False)