# Install the superQuery library

In [1]:
!pip3 install superQuery

Collecting superQuery
Collecting pymysql (from superQuery)
  Using cached https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl
Collecting pandas (from superQuery)
  Using cached https://files.pythonhosted.org/packages/86/12/08b092f6fc9e4c2552e37add0861d0e0e0d743f78f1318973caad970b3fc/pandas-0.25.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting numpy>=1.13.3 (from pandas->superQuery)
  Using cached https://files.pythonhosted.org/packages/0e/46/ae6773894f7eacf53308086287897ec568eac9768918d913d5b9d366c5db/numpy-1.17.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2017.2 (from pandas->superQuery)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Collecting python-dateutil>=2.6.1 (from pandas->superQuery)
  Using cached https://files.pythonhosted.org/packages/41/17/c62faccbfbd163c7f57f3844689e3a78bae1f403648a6afb1d0866d87fbb/python_dateutil-2.8.0-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.6.1->pandas->superQuery)
  Using cached https://files.pythonhosted.org/packages/73/fb/00a976f728d0d1fecfe898238ce23f502a721c0ac0ecfedb80e0d88c64e9/six-1.12.0-py2.py3-none-any.whl
Installing collected packages: pymysql, numpy, pytz, six, python-dateutil, pandas, superQuery
Successfully installed numpy-1.17.3 pandas-0.25.2 pymysql-0.9.3 python-dateutil-2.8.0 pytz-2019.3 six-1.12.0 superQuery-2.0

# Get your authentication details

* Go to [superquery.io](https://superquery.io) and log in/sign up
* In the left side-bar, click on the "Integrations" icon
* Scroll down until you see "Python" and click "Connect"
* Note the username and password
* Insert your username and password into the 'xxxxxx' fields below

# Set the environment variables

In [ ]:
%env SUPERQUERY_USERNAME=xxxxxx
%env SUPERQUERY_PASSWORD=xxxxxx

# Load extension

In [3]:
%load_ext magics

# Set your Google Cloud billing project
Option 1: get a superQuery client specify the project calling `client.project(project_name)`

In [4]:
import superQuery
client = superQuery.Client()
client.project("yourBillingProjectId")

Option 2: specify project name as a parameter (--project) when calling a cell magic (see below)

# Get your data using cell magics

In [4]:
%%superquery --project yourBillingProjectId
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

        name
0       Mary
1      Helen
2    Dorothy
3       Ruth
4   Margaret
5    Mildred
6       Anna
7   Florence
8  Elizabeth
9      Marie

# Save query result as a variable
Run the same query, but this time save the results to a new variable `res`, which is given as an argument to the %%superquery. The results can then be used for further analysis and visualization.

In [5]:
%%superquery res --project yourBillingProjectId
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

In [6]:
res.head(5)

       name
0      Mary
1     Helen
2   Dorothy
3      Ruth
4  Margaret

# Perform a dry run of a query and show stats

In [7]:
%%superquery --project yourBillingProjectId --dry_run True --stats True
SELECT name FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10

---------STATISTICS---------
('Data rows:', u'10')
('Workflow:', 'Query')
Cost: $ 0.00
('Savings %:', u'100.00')
('Was cache used?:', True)
('Cache type:', u'Tier1')
('DryRun flag: ', False)